
@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helpers */
html, body, #root { height: 100%; }
body { @apply bg-slate-100; }
:root { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.container-center { @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8; }
